#files to ignore

/mplus_data/
ls.questionnaires.csv

.RDataTmp
.RHistory

abcd_predictors.Rmd



abcd_cbcl_long.txt
abcd_cbcl_long.rds
mplus_data/abcd_cbcl_wide.txt
mplus_data/lcga_abcd_quadratic.out


